#restaurantsHome {
  width: 75vw;
  margin: auto;
}

.restaurantCard {
  width: 12vw;
}

#searchBar {
  width: 65vw;
  margin: auto;
}

#serviceOptions {
  margin: auto; 
}

.serviceCard {
  width: 10vw;
  height: 10vh;
}